$primary: #004b8d;
$secondory: #007dc3;
$color: #ffff;
$bgcolor: #004b8d;
$textcolor: #fff;

@import "_mixin.scss";

body {
    font-family: "Muli", sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.header {
    margin-top: -20px;
    top: 0;
    position: sticky;
    z-index: 11;
    .preheader__container {
        display: flex;
        background-color: $primary;
        font-size: 12px;
        .preheader__left {
            @include below-tablet {
                display: none;
            }
            max-width: 66.6666%;
            flex: 0 0 66.6666%;
            @include block-list(white, 8px);
            .preheader__block-left {
                margin-left: 10%;
            }
        }
        .preheader__right {
            @include below-tablet {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .preheader__block-right {
                margin-right: 20%;
                @include below-tablet {
                    margin-right: 0;
                }
            }
            .preheader__icon {
                .icon {
                    display: none;
                    @include below-tablet {
                        display: block;
                        padding: 6px 8px;
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            max-width: 33.3333%;
            flex: 0 0 33.3333%;
            display: flex;
            justify-content: flex-end;
            @include block-list(white, 8px);
        }
    }
    .mainheader {
        position: relative;
        background-color: #fff;
        @include below-tablet {
            height: 45px;
        }
        .brand {
            @include below-tablet {
                display: flex;
                justify-content: center;
            }
            .brand__logo {
                z-index: -1;
                max-width: 40%;
                @include below-tablet {
                    max-width: 80%;
                    width: 100%;
                    //height: 100%;
                }
                margin-left: 5%;
            }
        }
        .topnav {
            margin-top: -30px;
            overflow: hidden;
            background-color: #fff;
            display: flex;
            justify-content: flex-end;
            @include below-tablet {
                float: none;
                margin-top: -2px;
                display: block;
            }
            .icon {
                display: none;
            }
            a {
                @include below-tablet {
                    display: none;
                }
                float: left;
                display: block;
                color: $primary;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                font-weight: 900;
            }
        }
        @include below-tablet {
            .responsive {
                position: relative;
                z-index: 1;
                a {
                    float: none;
                    display: block;
                    text-align: left;
                }
            }
        }
    }
}

.main {
    position: relative;
    background: url("img/trekking.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include below-tablet {
        height: 650px;
        margin-top: -20px;
    }
    .main__block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include below-tablet {
            display: flex;
            flex-direction: column;
        }
        .heading {
            color: white;
            font-size: 24px;
            font-weight: 300px;
        }
        .sub-heading {
            font-size: 20px;
            color: white;
        }
        a {
            margin-top: 20px;
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 16px;
            color: $primary;
            background-color: white;

            text-align: center;
            text-decoration: none;
        }
        @include below-tablet {
            .banner_buttons {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.highlight {
    margin-top: -20px;
    padding-top: 3rem;
    text-align: center;
    color: #fff;
    background: $secondory;
    .highlight__wrapper {
        max-width: 75rem;
        margin: 0 auto 3rem auto;
        padding: 0 2rem;
        .highlight__title {
            font-family: "Alfa Slab One", cursive;
            font-size: 200%;
            color: fff;
            letter-spacing: 0.4rem;
            line-height: 3.2rem;
            font-weight: 500;
        }
        .highlight__content {
            // @include bannertext;
            font-size: 100%;
            color: #fff;
            letter-spacing: 0.2px;
            font-family: sans-serif;
            font-size: 18px;
        }
    }
}

.carousel {
    .carousel__container {
        width: 100%;
        h2 {
            color: #fff;
            position: relative;
            padding-top: 16%;
            font-family: sans-serif;
        }
        .feature-slider {
            background: #004b8d;
            padding-bottom: 4%;
            .swiper-container {
                position: relative;
                overflow: hidden;
                padding: 3rem 0 5rem;
                margin-left: 10%;
                margin-right: 10%;
                color: #fff;
                // background-color: green;
                .swiper-wrapper {
                    .feature {
                        display: block;
                        // flex-grow: 1;
                        justify-content: center;
                    }
                    .feature-value {
                        font-size: 3.75rem;
                        line-height: 1;
                        font-family: "Alfa Slab One", cursive;
                    }
                    p {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 5%;
                        padding-right: 5%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
.carousel:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url("./img/mountain-bg.png") repeat-x center top;
}

.go {
    position: relative;
    overflow: hidden;
    min-height: 540px;
    .go__image-right img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    .go__text {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background: $primary;
        line-height: 0.8;
        color: $secondory;
        font-family: "Alfa Slab One", cursive;
        .go__text__g {
            position: absolute;
            top: -10%;
            left: -20%;
            font-size: 60vw;
        }
        .go__text__o {
            position: absolute;
            top: -10%;
            right: -20%;
            font-size: 60vw;
        }
    }
    .go__content {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 20%;
        width: 35vw;
        padding: 0;
        transform: translateY(-50%);
        color: #fff;
        text-align: right;
        .go__content__title {
            letter-spacing: 5.5px;
            color: #fff;
            font-family: "Alfa Slab One", serif;
            font-weight: 500;
            margin-left: 0;
        }
        .go__content__text-wrapper {
            width: 15vw;
            margin-left: auto;
            padding-left: 1rem;
            .go__content__texts {
                margin-bottom: 1.5rem;
                font-family: sans-serif;
                line-height: 1.5;
                letter-spacing: 0;
                font-size: 12px;
                text-align: left;
            }
            .go__buttons {
                a {
                    outline: 0;
                    display: block;
                    padding: 10px 25px;
                    text-align: center;
                    cursor: pointer;
                    margin-bottom: 6%;
                    border: 2px solid #fff;
                    background: #fff;
                    text-decoration: none;
                }
                a:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

.events {
    margin-bottom: 3rem;
    padding: 3rem 0 10rem 0;
    background: #004b8d url("./img/layer-bg.png") no-repeat 100% 100.05%;
    background-size: 55rem auto;
    .events-title {
        margin-bottom: 3rem;
        text-align: center;
        color: #fff;
        font-family: "Alfa Slab One", cursive;
        color: white;
        font-weight: 100;
        font-size: 250%;
    }
    .events-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        .event-item {
            display: flex;
            color: white;
            max-width: 33.33%;
            //    border-right: 1px solid black;
            .event-day-box {
                //    position: relative;
                flex: 0 0 3.75rem;
                height: 5rem;
                margin-right: 1rem;
                text-align: center;
                border: 2px solid white;
                .event-date {
                    background: #003c70;
                    font-size: 2rem;
                    font-weight: 900;
                    line-height: 1.5;
                }
                .event-month {
                    line-height: 1.8;
                }
            }
        }
    }
    .events-details > .event-item:last-child {
        border-right: none;
    }
    .event-button {
        text-align: center;
        padding-top: 5rem;
        button {
            background-color: $primary;
            color: white;
            padding: 0.5rem 1rem;
            font-weight: 900;
            font-size: medium;
            border: none;
        }
    }
}

.stories {
    margin-top: -50px;
    margin-bottom: 41px;
    .stories-title {
        color: #007dc3;
        font-size: 2rem;
        font-family: "Alfa Slab One", serif;
        text-align: center;
    }

    .stories-wrapper {
        display: flex;
        @include below-tablet {
            display: flex;
            flex-direction: column;
            padding: 0px;
        }
        .stories-wrapper-left {
            max-width: 33.33%;
            flex: 0 0 33.33%;
            @include below-tablet {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .story-image {
                max-width: 90%;
                margin: 0 auto;
                @include below-tablet {
                    display: flex;
                    align-items: center;
                    height: auto;
                }
                img {
                    width: 100%;
                    height: 100%;
                    @include below-tablet {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .stories-wrapper-center {
            max-width: 33.33;
            flex: 0 0 33.33%;
            @include below-tablet {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .story-text {
                max-width: 90%;
                margin: 0 auto;
            }
        }
        .stories-wrapper-right {
            max-width: 33.33%;
            flex: 0 0 33.33%;
            @include below-tablet {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .link-wrapper {
                max-width: 90%;
                margin: 0 auto;
            }
            a {
                padding-left: 1rem;
                text-decoration: none;
                display: block;
                color: black;
                border-top: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                border-left: 1px solid #004b8d;
            }
            a:hover {
                border-left: 10px solid #004b8d;
                color: #004b8d;
            }
        }
    }
}
.flc {
    width: 100%;
    margin: 0px auto;
    background-color: white;
    p {
        color: #007dc3;
        font-size: 2rem;
        font-family: "Alfa Slab One", serif;
        text-align: center;
    }
    .flc__img {
        display: flex;
        @include below-tablet {
            flex-wrap: wrap;
            flex-direction: inherit;
        }
        @include below-phone {
            flex-wrap: wrap;
            flex-direction: column;
        }
        .flc__img-container {
            @include below-tablet {
                flex: 0 48%;
                margin: 1%;
            }
            img {
                max-width: 100%;
            }
        }
    }
}

.ticket-banner {
    padding: 4rem 2rem 2rem 2rem;
    background: rgba(241, 164, 49, 0.863);
    .ticket-banner-left {
        display: flex;
        .ticket-banner-image {
            max-width: 50%;
            flex: 0 0 50%;
            img {
                max-width: 100%;
            }
        }
    }
    .ticket-banner-wrapper {
        max-width: 50%;
        flex: 0 0 50%;
        padding-right: 12px;
        .ticket-banner-wrapper-title {
            margin-bottom: 1rem;
            text-align: left;
            color: $primary;
        }
        .ticket-banner-wrapper-subtitle {
            font-family: sans-serif;
            color: $primary;
            font-weight: 100;
        }
        p {
            font-family: sans-serif;
            font-size: larger;
            color: $primary;
        }
        .ticket-Banner-CTA button {
            padding: 10px 25px;
            text-align: center;
            cursor: pointer;
            margin-bottom: 6%;
            background: $primary;
            border: 0;
            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                font-size: larger;
            }
        }
        .ticket-Banner-CTA button:hover {
            background-color: transparent;
            border: 2px solid white;
            a {
                color: $primary;
            }
        }
    }
}

.container__center {
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 4rem;
    // height: 500px;

    color: $color;
    margin-top: -40px;
    .container_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        @include below-tablet {
            flex-direction: column;
        }
        .container__center__text {
            h4 {
                font-size: 40px;
                font-weight: bolder;
                font-family: "Alfa Slab One", serif;
            }
            p {
                font-size: 20px;

                font-family: "Roboto", sans-serif;
            }
        }
    }

    .container__center__btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 20%;
        @include below-tablet {
            justify-content: center;
            align-items: center;
        }
        div {
            width: 120px;
            line-height: 40px;
            background-color: $bgcolor;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: $color;
                margin-left: 5px;
                font-size: 20px;
                font-family: bolder;
            }
        }
    }

    .symbol {
        font-size: 30px;
        color: white;
        font-weight: bolder;
        text-align: center;
    }
}

.footer {
    color: $textcolor;
    background: $primary url("img/moubg.png") center bottom repeat-x;
    background-size: contain;
    font-size: smaller;
    padding-top: 3rem;
    .footer-container {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .footer-address {
            flex: 0 0 32%;
            h4 {
                font-size: large;
            }
            .contact-info {
                display: flex;
                margin-bottom: 1rem;
                font-size: 0.875rem;
                .contact-info-address {
                    padding-left: 1.2rem;
                    line-height: 1.5rem;
                    background: url("img/marker.svg") no-repeat top left;
                    background-size: 1rem;
                    font-weight: 400;
                }
                .contact-info-number {
                    padding-left: 5rem;
                    span {
                        padding-left: 1rem;
                        padding-right: 1rem;
                        line-height: 1.5rem;
                    }
                    span:first-child {
                        background: url("img/phone.svg") left center no-repeat;
                        background-size: 0.8rem;
                        a {
                            color: $textcolor;
                            text-decoration: none;
                        }
                        a:hover {
                            @include hover();
                        }
                    }
                    span:last-child {
                        background: url("img/fax.svg") left center no-repeat;
                        background-size: 0.8rem;
                    }
                    span:hover {
                        @include hover();
                    }
                }
            }
            img {
                width: 100%;
                // height: 45%;
            }
            .contact-info-admission {
                margin-top: 1rem;
                margin-bottom: 1rem;
                span {
                    background: url("img/mail.svg") left center no-repeat;
                    background-size: 0.8rem;
                    padding-left: 1rem;
                    a {
                        color: $textcolor;
                        text-decoration: none;
                    }
                    a:hover {
                        @include hover();
                    }
                }
            }
        }
        .footer-media,
        .footer-tools {
            margin-left: 2rem;
            h4 {
                font-size: large;
            }
            ul li {
                list-style-type: none;
                margin-top: 1rem;
                a:hover {
                    @include hover();
                }
            }
        }
        .footer-administration {
            margin-left: 5rem;
            flex: 0 0 32%;
            h4 {
                font-size: large;
            }
            ul {
                column-count: 2;
                column-gap: 1rem;
                padding-left: 0;
                li {
                    list-style-type: none;
                    margin-bottom: 1rem;
                    a:hover {
                        @include hover();
                    }
                }
            }
        }
        .footer-social-links {
            margin-top: -10rem;
            margin-left: 28rem;
            h4 {
                font-size: large;
            }
            ul {
                display: flex;
                padding-left: 0;
                li {
                    list-style-type: none;
                    padding-right: 1rem;
                    a:hover {
                        @include hover();
                    }
                }
            }
        }
    }
    ul li a {
        text-decoration: none;
        color: $textcolor;
    }
    .footer-bottom-container {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        border-top: 1px solid #2c9fb2;
        margin-top: 3rem;
        justify-content: space-between;
        .copyright {
            padding-top: 1rem;
        }
        .links {
            justify-content: flex-end;
            ul {
                display: flex;
            }
            ul li {
                margin-left: 1rem;
                padding-left: 1rem;
                // border-left: 1px solid white;
                list-style-type: none;
            }
            ul li a:hover {
                @include hover();
            }
            ul li:first-child {
                border-left: none;
            }
        }
    }
}

$primary: #004b8d;
$secondory: #007dc3;
$color: #ffff;
$bgcolor: #004b8d;
$textcolor: #fff;

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .events {
        .events-details {
            display: flex;
            flex-wrap: wrap;
            .event-item {
                padding: 8px;
                max-width: 100%;
            }
        }
    }
    .go {
        position: relative;
        width: 100%;
        background: #004b8d;
        min-height: 720px;
        .go__image-right {
            top: 0;
            width: 500px;
            height: 330px;
            max-height: 300px;
            z-index: 1;
            img {
                width: 100%;
                max-height: 20rem;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .go__text {
            position: relative;
            height: 0;
            top: 0;
            // overflow: hidden;
            .go__text__g {
                left: -26%;
                top: 2px;
                font-size: 85vw;
                position: absolute;
                width: 50%;
                color: #007dc3;
                font-family: "Alfa Slab One", serif;
                line-height: 0.8;
            }
            .go__text__o {
                right: -20%;
                top: 2px;
                font-size: 85vw;
                position: absolute;
                width: 50%;
                color: #007dc3;
                font-family: "Alfa Slab One", serif;
                line-height: 0.8;
            }
        }
        .go__content {
            position: absolute;
            z-index: 10;
            /* padding-right: 1rem; */
            padding: 2rem;
            bottom: 0;
            color: #fff;
            height: 0;
            left: 0;
            width: 100%;
            .go__content__title {
                margin-bottom: 2rem;
                font-size: 1rem;
                text-align: left;
                padding-right: 15%;
            }
            .go__content__text-wrapper {
                max-width: 100%;
                margin-bottom: 3rem;
                width: 80%;
                margin-left: 2px;
                padding-left: 4px;
                .go__content__texts {
                    font-size: 15px;
                }
                .go__buttons {
                    a {
                        text-decoration: none;
                        color: $primary;
                        margin-left: 5px;
                        font-size: 20px;
                        padding: 12px 16px;
                        font-family: bolder;
                    }
                }
            }
        }
    }

    .ticket-banner {
        .ticket-banner-left {
            flex-direction: column;
            justify-content: center;
            .ticket-banner-wrapper {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .ticket-banner-image {
                max-width: 100%;
                flex: 0 0 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .footer-banner {
        .footer-banner-wrapper {
            flex-direction: column;
            .footer-banner-text {
                font-size: 158%;
            }
            h2 {
                justify-content: flex-start;
            }
            p {
                font-size: 40px;
            }
            .footer-banner-CTA {
                align-items: center;
                button {
                    a {
                        font-size: 30px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .footer {
        .footer-container {
            .footer-address {
                flex: 0 0 100%;
                .contact-info {
                    flex-wrap: wrap;
                    .contact-info-address {
                        margin-bottom: 2rem;
                        span {
                            display: block;
                        }
                    }
                    .contact-info-number {
                        flex: 0 0 100%;
                        padding: 0;
                        span {
                            display: block;
                        }
                    }
                }
            }
            .footer-media {
                flex: 0 0 100%;
                margin: 0;
                ul {
                    padding: 0;
                }
            }
            .footer-tools {
                margin: 0;
                ul {
                    padding: 0;
                }
            }
            .footer-administration {
                flex: 0 0 100%;
                column-count: 1;
                margin: 0;
                ul {
                    column-count: 1;
                }
            }
            .footer-social-links {
                margin-top: 0;
                margin-left: 0;
            }
        }
        .footer-bottom-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .links {
                ul {
                    padding: 0;
                    li {
                        padding: 0;
                    }
                }
            }
        }
    }

    .swiper-slide::after {
        display: none;
    }
}

@media screen and (min-width: 320px) and (orientation: landscape) {
    .header {
        position: relative;
    }
}

@media only screen and (max-width: 414px) {
    .flc__img {
        //display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .flc__img-container {
            img {
                max-width: 100%;
            }
        }
    }
}
